/*https://realtimecolors.com/?colors=ffffff-122112-b87ab6-2b1720-8a63ab*/
/*https://realtimecolors.com/?colors=f4d7d8-20090a-88ddda-102537-49ca85*/
/*https://realtimecolors.com/?colors=f6edfd-1c052e-7617c4-130420-8119d7*/
*{
  font-family: 'Space Grotesk', sans-serif;
}

body{
  margin: 0;
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.navbar{
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: #130420;
  color: white;
  justify-content: end;
}

.navbar img{
  width: 50px;
  border-radius: 50%;
}

.navbar *{
  margin-right: 0.5rem;
  padding: 0.3rem 0.1rem;
  text-decoration: none;
  color: white;
}

button, input[type="submit"]{
  border: none;
  background-color: #8119d7;
  color: whitesmoke;
  height: 2rem;
  border-radius: 0.2rem;
}

button:hover,input[type="submit"]:hover{
  opacity: 80%;
}

.profile hr{
  background-color: #8119d7;
  margin: 2rem 0;
}
.profile img{
  margin-top: 1rem;
  width: 200px;
  border-radius: 50%;
  border: 0.2rem solid #8119d7;
}
.home *{
  padding: 1rem 0;
  margin: auto;
}
.home span{
  color: #8119d7;
}

.login *{
  font-size: 20px;
}
.login button{
  height: 3rem;
}

.newPostTable{
  margin: 5rem auto;
  border: 0.1rem solid grey;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  color: #8119d7;
}
.newPostForm{
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.newPostForm input[type="text"], textarea{
  border-width: 0 0 0.1rem 0;
  border-radius: 0.2rem;
  font-size: 18px;
  resize: vertical;
}
.newPostForm input[type="text"], textarea:focus{
  outline: none;
}
.newPostForm *{
  margin: 0.5rem;
}